
NASAAPP.xcodeproj/xcuserdata/jagprits.xcuserdatad/xcschemes/xcschememanagement.plist
NASAAPP.xcodeproj/project.xcworkspace/xcuserdata/jagprits.xcuserdatad/UserInterfaceState.xcuserstate
NASAAPP.xcodeproj/xcuserdata/jagprits.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
